version: "3.9"

services:
  ginapp-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: gin_app_dev
    restart: unless-stopped
    ports:
      - "8080:8080"

    volumes:
      # 1. Bind mount source code
      - .:/app

      # 2. Bind mount Go modules (cache modules)
      - gomodcache:/go/pkg/mod

      # 3. Bind mount Go build cache
      - gobuildcache:/root/.cache/go-build

    environment:
      GIN_MODE: debug
      
      # MySQL existing container
      DB_HOST: db_mysql
      DB_PORT: 3306
      DB_USER: root
      DB_PASS: Masdatinlantai7
      DB_NAME: adminbe

      # Redis existing container
      REDIS_HOST: redis_db
      REDIS_PORT: 6379

    networks:
      - custom_network

volumes:
  gomodcache:
  gobuildcache:

networks:
  custom_network:
    external: true
